@charset "UTF-8";

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceInLeft {
  0% {
    transform: translate3d(0,0,0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: translate3d(140%,0,0);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounceInRight {
  0% {
    transform: translate3d(0,0,0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: translate3d(-140%,0,0);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hue {
  0% {
    filter:hue-rotate(0deg);
  }
  50% {
    filter:hue-rotate(180deg);
  }
  100% {
    filter:hue-rotate(0deg);
  }
}

@keyframes breathe {
  0% {
    filter:opacity(0.5);
  }
  50% {
    filter:opacity(1);
  }
  100% {
    filter:opacity(0.5);
  }
}


@keyframes runInLeft {
  0% {
    left: -50px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 150%;
    opacity: 0;
  }
}
