@charset "UTF-8";
html, body {
    height: 100%;
}
.panel-wrap {
    margin: 10px;
    border-radius: 4px;
    background: #0e1f3b;
    box-shadow: 0 0 3px #0e314d;

}

.panel-title {
    color: #ebece7;
    font-size: $font-size-h3;
}