@charset "UTF-8";
@font-face {
  font-family: "PingFang";
  //src: url(../fonts/PingFang.ttc); // todo 太大了超过30M
}

html, body {
  //font-family: 'PingFang', serif;
  color: $brand-default;
  //width: 960px;
  max-height: 1248px;
  overflow-x: hidden;
}

ul, li, p {
  margin: 0;
  padding: 0;
  @include list-unstyled;
}

.page-title {
  margin: 44px 10px 56px;
  font-size:44px;
  color: $brand-info;
  line-height:44px;
}

.panel-wrap {
  margin: 10px;
  border-radius: 4px;
  background: rgba(15, 36, 66, .5);
  box-shadow: 0 0 1px #0e314d;
  overflow: hidden;
}

.panel-title {
  height: 72px;
  margin: 0;
  padding: 0 28px;
  font-weight: normal;
  color: $brand-info;
  font-size: $font-size-h3;
  line-height: 72px;
}

.panel-content {
}

.title-number {
  font-size: $font-size-h1;
  color: $brand-primary;
  // fix 数字单位左右跳动
  a {
    display: inline-block;
    text-align: right;
  }
}

.panel-list-header {
  background: rgba(39, 136, 232, 0.15);
  height: 45px;
  padding-left: 28px;
  line-height: 45px;
  font-size: 20px;
  color: $brand-default;
}

.panel-list-content {
  position: relative;
  height: 210px;
  margin: 13px 0;
  padding-left: 28px;
  font-size: 20px;
  line-height: 34px;
  color: $brand-default;
  overflow: hidden;
  div {
    @include text-overflow();
  }
  .panel-list-scroll {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 28px;
  }
  .text-primary, .text-danger {
    font-size: 22px;
  }
  .panel-list-line5 {
    line-height: 42px;
  }
}

.panel-chart-wrap {
  height: 100%;
}

.panel-dashboard {
  position: relative;
  width: 276px;
  height: 202px;
  margin: 47px auto 0;
  padding-top: 87px;
  text-align: center;
  background: url(../img/e4b-dashboard-bg.png) no-repeat;
  overflow: hidden;
  h3 {
    margin: 0 0 10px;
    font-size: 44px;
    line-height: 44px;
    font-weight: normal;
  }
  p {
    font-size: 20px;
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: rotate linear 2s infinite;
    transform-origin: 50% 68.3%;
    background: url(../img/e4b-dashboard-bg.png) no-repeat;
  }
}

.doughnut-legend-wrap {
  position: relative;
  top: -100%;
  margin-top: 72px;
}

.doughnut-legend-list {
  @include clearfix;
  @include list-unstyled;
  position: relative;
  height: 100%;
  margin-right: -200px;

  li {
    float: left;
    width: 160px;
    margin: 20px 100px 100px 54px;
    font-size: 20px;
    line-height: 30px;
    p {
      margin: 0;
    }
    .text-primary {
      font-size: 22px;
    }
  }
}

.pointer {
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: -26px;
    top: 7px;
    border-radius: 50%;
    background-color: transparent;
  }
}

li.pointer:nth-child(1) {
  &::before {
    background-color: #ff3274;
  }
}

li.pointer:nth-child(2) {
  &::before {
    background-color: #ffd366;
  }
}

li.pointer:nth-child(3) {
  &::before {
    background-color: #6666ff;
  }
}

li.pointer:nth-child(4) {
  &::before {
    background-color: #33e2ff;
  }
}

li.pointer:nth-child(5) {
  &::before {
    background-color: #f2ff00;
  }
}

.panel-ring-wrap {
  padding: 20px 28px 0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  div {
    overflow: hidden;
  }
  span {
    display: block;
  }
  .ring-content {
    padding-top: 53px;
  }
  .pointer {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }

  .lab {
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }

  .val {
    color: #00fff9;
    margin: 0;
    text-align: left;
    padding: 5px 0 0 20px;
  }

  .val2 {
    color: #00fff9;
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
  }

}

.pr20 {
  padding-right: 20px;
}
