@charset "UTF-8";
* {
  @include box-sizing(border-box);
}

*:after,
*:before {
  @include box-sizing(border-box);
}
// Body reset
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: $body-bg;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}
// Reset fonts for relevant elements

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
// Links
a {
  //color: $link-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}
// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}
// Images
img {
  max-width: 100%;
  vertical-align: middle;
}
