// page1-panel1

.e4b-bg {
  background: #0b172d url(../img/e4b-bg.png) no-repeat top center;
}

.e4b-title {
  width: 684px;
  height: 103px;
  margin: 0 auto;
  padding-top: 23px;
  background: url(../img/e4b-title-bg.png);
  text-align: center;
}

// 旋转
.carousel-floor {
  /*  position: absolute;
    left: 50%;
    top: 50%;
    width: 1200px;
    height: 1200px;

    background: -webkit-radial-gradient(center center, 600px 600px, rgba(50, 50, 50, 1), rgba(0, 0, 0, 0));
    background: -moz-radial-gradient(center center, 600px 600px, rgba(50, 50, 50, 1), rgba(0, 0, 0, 0));
    background: -ms-radial-gradient(center center, 600px 600px, rgba(50, 50, 50, 1), rgba(0, 0, 0, 0));
    background: -o-radial-gradient(center center, 600px 600px, rgba(50, 50, 50, 1), rgba(0, 0, 0, 0));
    background: radial-gradient(center center, 600px 600px, rgba(50, 50, 50, 1), rgba(0, 0, 0, 0));

    margin-left: -600px;
    margin-top: -600px;
    -webkit-transform: translateY(200px) rotateX(90deg);
    -moz-transform: translateY(200px) rotateX(90deg);
    -ms-transform: translateY(200px) rotateX(90deg);
    -o-transform: translateY(200px) rotateX(90deg);
    transform: translateY(200px) rotateX(90deg);*/
}

#carousel {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 190px auto 324px;
  background: none;

  transform: perspective(600px) rotateX(0deg) rotateY(0deg) translateZ(-800px);
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
}

#carousel div.hid {
  position: absolute;
  left: 50%;
  margin-left: -271px;
  margin-top: -171px;
  top: 50%;
  padding: 14px;
  border: 2px solid #2788e8;
  background-size: 100% 100%;
  font-size: 50px;
  transition: 1s all ease;

  width: 542px;
  height: 342px;
  transform: rotateY(0deg) translateZ(0px);

  background-color: #102542;
  background-color: rgba(16, 37, 66, .8);
  box-shadow: 0 0 1px #2788e8;
  &::before, &::after {
    display: none;
    position: absolute;
    width: 350px;
    height: 30px;
    content: '';
    background: url(../img/border-light.png) no-repeat 0 -68px;
    mix-blend-mode: screen; // fix 图片灰色渐变效果
  }
  &::before {
    left: -144px;
    top: -15px;
  }
  &::after {
    right: -144px;
    bottom: -17px;
  }
  &.anima::before {
    display: block;
    animation: bounceInLeft ease-out 2s infinite;
  }
  &.anima::after {
    display: block;
    animation: bounceInRight ease-out 2s infinite;
  }
}

#carousel div.img {
  position: absolute;
  margin: 0;
  top: 14px;
  left: 14px;
  width: 510px;
  height: 310px;
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  .logo {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 164px;
    height: 164px;
    margin-top: 49px;
    margin-left: -82px;
    padding: 17px;
    background-color: #2788e8;
    border-radius: 50%;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;

  }
}

.e4b-content {
  .e4b-info:first-child {
    display: block !important;
  }
}

.e4b-info {
  display: none !important;
  margin: 94px 10px 0;
  .panel-wrap {
    height: 360px;
    .panel-chart-wrap {
      height: 288px;
    }
  }
}

