// page1-panel4
.situation-top {

  .top-bar {
    display: table;
    width: 100%;
    font-size: 20px;
    line-height: 38px;
    tr {
      &:nth-child(1) {
        color: #ff3274;
        b {
          background-color: #ff3274 !important;
        }
      }
      &:nth-child(2) {
        color: #FFD366;
        b {
          background-color: #FFD366 !important;
        }
      }
      &:nth-child(3) {
        color: #33C1FF;
        b {
          background-color: #33C1FF !important;
        }
      }
      b {
        overflow: hidden;
        &::after {
          position: absolute;
          content: '';
          width: 50px;
          height: 100%;
          top: -14px;
          left: 0;
          background: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, .8) 50%, transparent);
          animation: runInLeft ease-in-out infinite 2s;
        }
      }
    }
    .t-bar {
      display: table-cell;
      text-align: left;
      width: 178px;
      white-space: nowrap;
      &:first-child {
        width: 110px;
      }
      &:last-child {
        width: 100px;
        text-align: right;
      }
      .bar-wrap {
        position: relative;
        display: inline-block;
        width: 178px;
        height: 16px;
        margin: 0 10px;
        background-color: rgba(198, 236, 255, 0.16);
        vertical-align: middle;
        text-indent: 10000px;
        b {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 0; // 根据数据计算 相对于
          height: 16px;
          background-color: #2788e8;
          transition: width cubic-bezier(0.22, 0.61, 0.36, 1) 2s;
        }
      }
    }
  }

  .panel-bar-wrap {
    height: 358px;
    padding: 5px 28px;
  }

  .panel-chart-wrap {
    height: 330px;
    margin-bottom: 28px;
    padding: 0 28px;
  }
}

.situation-middle {
  .panel-chart-wrap {
    height: 234px;
  }
}

.situation-bottom {
  .panel-content {
    height: 250px;
    padding: 28px;
  }

  .panel-ring-wrap {
    position: relative;
    font-size: 22px;
    .ring-content {
      margin-top: 0;
    }
    .val2 {
      font-size: 30px;
    }
  }
}

.order-increase {
  position: absolute;
  width: 322px;
  right: 28px;
  bottom: 72px;
  font-size: 22px;
  text-align: left;
  i {
    position: relative;
    display: inline-block;
    left: 11px;
    top: -5px;
    margin-right: 16px;
    width: 14px;
    height: 8px;
    border: 3px solid #06F9FF;
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg);
    &::before {
      position: absolute;
      content: '';
      left: -16px;
      top: 0;
      width: 16px;
      height: 3px;
      background-color: #06F9FF;

    }
    &::after {
      position: absolute;
      content: '';
      right: -10px;
      bottom: -8px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: #06F9FF;
      overflow: hidden;
    }
  }
  span {
    display: inline-block;
  }
  .text-primary {
    font-size: 30px;
  }
}
