<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E4B-EN</title>
    <link rel="stylesheet" href="../../src/assets/css/screen.css">
    <link rel="stylesheet" href="../../src/assets/css/pure-min.css">
    <script src="../../dist/screen.js"></script>
</head>
<body class="e4b-bg">
<div class="e4b-title">
    <img src="../assets/img/e4b-title-en.png" alt="聚贸E4B跨境电商全球体系">
</div>
<div id="carousel">
    <!--<div class="carousel-floor"></div>-->
</div>
<!-- 聚运通 start -->
<div class="pure-g e4b-info">
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">热门运力 <span class="title-number">223</span></h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-14-24">跨境线路</div>
                    <div class="pure-u-4-24">数量</div>
                    <div class="pure-u-6-24">运输方式</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-scroll">
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-14-24 pr20">SHANGHAI-LOS ANGELES ANGELES ANGELES</div>
                            <div class="pure-u-4-24 text-primary">21</div>
                            <div class="pure-u-6-24">海运/铁路</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">运输方式</h3>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div class="panel-content panel-chart-wrap" id="barPolarStack"></div>
        </div>
    </div>
</div>
<!-- 聚运通 end -->

<!-- 聚融通 start -->
<div class="pure-g e4b-info">
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">服务企业数 <span class="title-number">51598</span></h3>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div class="panel-content panel-chart-wrap" id="doughnut"></div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">融资金额占比</h3>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div class="panel-content panel-chart-wrap" id="barPolarStack2"></div>
        </div>
    </div>
</div>
<!-- 聚融通 end -->

<!-- 聚认证 start -->
<div class="pure-g e4b-info">
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">覆盖品类数 <span class="title-number">2223</span></h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-7-24">名称</div>
                    <div class="pure-u-9-24">覆盖品类数</div>
                    <div class="pure-u-8-24">认证企业数</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-scroll">
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-7-24 pr20">食品</div>
                            <div class="pure-u-9-24 text-primary">121</div>
                            <div class="pure-u-8-24 text-primary">123213</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">认证体系 <span class="title-number">666</span></h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-9-24">种类</div>
                    <div class="pure-u-6-24">数量</div>
                    <div class="pure-u-9-24">增量（2017）</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-line5">
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">体系认证</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">征信服务</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">产品认证</div>
                            <div class="pure-u-6-24 text-primary">44</div>
                            <div class="pure-u-9-24 text-danger">+13</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">大宗检测</div>
                            <div class="pure-u-6-24 text-primary">35</div>
                            <div class="pure-u-9-24 text-danger">+15</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">其他服务</div>
                            <div class="pure-u-6-24 text-primary">23</div>
                            <div class="pure-u-9-24 text-danger">+4</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 聚认证 end -->

<!-- 大数聚 start -->
<div class="pure-g e4b-info">
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">聚贸大宗商品交易价格</h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-9-24">名称</div>
                    <div class="pure-u-9-24">06/30（RMB）</div>
                    <div class="pure-u-6-24">幅度</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-scroll">
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+111.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+111.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">聚贸行情指数</h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-9-24">种类</div>
                    <div class="pure-u-9-24">06/30（RMB）</div>
                    <div class="pure-u-6-24">幅度</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-scroll">
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+111.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-danger">+111.48%</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">Dried cocoons</div>
                            <div class="pure-u-9-24 text-primary">133500</div>
                            <div class="pure-u-6-24 text-success">-11.48%</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 大数聚 end -->

<!-- 聚智能 start -->
<div class="pure-g e4b-info">
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">需求数</h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-9-24">种类</div>
                    <div class="pure-u-6-24">数量</div>
                    <div class="pure-u-9-24">增量（2017）</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-scroll">
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">工厂类</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">生产类</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">工厂类</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">生产类</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">工厂类</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">生产类</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">工厂类</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">生产类</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">工厂类</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">生产类</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">解决方案数 <span class="title-number">666</span></h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-9-24">种类</div>
                    <div class="pure-u-6-24">数量</div>
                    <div class="pure-u-9-24">增量（2017）</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-scroll">
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 聚智能 end -->

<!-- 聚咨询 start -->
<div class="pure-g e4b-info">
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">2017增量 <span class="title-number">666</span></h3>
            <div class="panel-content panel-list-wrap">
                <div class="panel-dashboard">
                    <h3 class="text-primary">26593</h3>
                    <p class="text-default">企业咨询次数</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel-wrap">
            <h3 class="panel-title">咨询服务 <span class="title-number">666</span></h3>
            <div class="panel-content panel-list-wrap">
                <div class="pure-g panel-list-header">
                    <div class="pure-u-9-24">种类</div>
                    <div class="pure-u-6-24">数量</div>
                    <div class="pure-u-9-24">增量（2017）</div>
                </div>
                <div class="panel-list-content">
                    <div class="panel-list-scroll">
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能生产</div>
                            <div class="pure-u-6-24 text-primary">80</div>
                            <div class="pure-u-9-24 text-danger">+2</div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-9-24 pr20">智能管理</div>
                            <div class="pure-u-6-24 text-primary">53</div>
                            <div class="pure-u-9-24 text-danger">+1</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 聚咨询 end -->

<script>
    var carouselData = [{
        bannerUrl: '../assets/img/mock/e4b-site-1.png',
        logoUrl: '../assets/img/mock/e4b-logo-1.png'
    }, {
        bannerUrl: '../assets/img/mock/e4b-site-3.png',
        logoUrl: '../assets/img/mock/e4b-logo-3.png'
    }, {
        bannerUrl: '../assets/img/mock/e4b-site-2.png',
        logoUrl: '../assets/img/mock/e4b-logo-2.png'
    }, {
        bannerUrl: '../assets/img/mock/e4b-site-4.png',
        logoUrl: '../assets/img/mock/e4b-logo-4.png'
    }, {
        bannerUrl: '../assets/img/mock/e4b-site-5.png',
        logoUrl: '../assets/img/mock/e4b-logo-5.png'
    }, {
        bannerUrl: '../assets/img/mock/e4b-site-6.png',
        logoUrl: '../assets/img/mock/e4b-logo-6.png'
    }];

    window.onload = function () {
        var M = carouselData.length;
        var oDiv = document.getElementById('carousel');
        var aDiv = oDiv.getElementsByClassName('hid');
        var x = -5;
        var y = 0;
        var delay = 5000;
        var speedX2 = 5;
        var l = 360 / M;

        var speedX = 0;
        var speedY = 0;

        for (var i = 1; i <= M; i++) {
            var oNewDiv = document.createElement('div');

            oNewDiv.className = 'hid';

            (function (oNewDiv, i) {
                setTimeout(function () {
//                    oNewDiv.style.WebkitTransform = 'rotateY(' + (360 * (i - 1) / M) + 'deg) translateZ(400px)';
//                    oNewDiv.style.MozTransform = 'rotateY(' + (360 * (i - 1) / M) + 'deg) translateZ(400px)';
//                    oNewDiv.style.msTransform = 'rotateY(' + (360 * (i - 1) / M) + 'deg) translateZ(400px)';
//                    oNewDiv.style.OTransform = 'rotateY(' + (360 * (i - 1) / M) + 'deg) translateZ(400px)';
                    oNewDiv.style.transform = 'rotateY(' + (360 * (i - 1) / M) + 'deg) translateZ(400px)';

                    setTimeout(function () {
                        if (i == M) fixAll();

                        setTimeout(function () {

//                            oNewDiv.style.WebkitTransition = 'none';
//                            oNewDiv.style.MozTransition = 'none';
//                            oNewDiv.style.msTransition = 'none';
//                            oNewDiv.style.OTransition = 'none';
                            oNewDiv.style.transition = 'none';

                        }, 1000);
                    }, 3000);
                }, (M + 3 - i) * 200);
            })(oNewDiv, i);

            oNewDiv.degY = 360 * (i - 1) / M;

            oNewDiv.innerHTML = '<div class="img"><div class="logo"></div></div>';
            oNewDiv = oNewDiv.getElementsByClassName('img')[0];

            oNewDiv.style.backgroundImage = 'url(' + carouselData[i - 1].bannerUrl + ')';
            oNewDiv.getElementsByClassName('logo')[0].style.backgroundImage = 'url(' + carouselData[i - 1].logoUrl + ')';

            oDiv.appendChild(oNewDiv.parentNode);
        }

        document.onmousedown = function (ev) {
            var oEvent = ev || event;
            var mouseStartX = oEvent.clientX;
            var mouseStartY = oEvent.clientY;

            var startX = x;
            var startY = y;

            var lastX = mouseStartX;
            var lastY = mouseStartY;

            speedX = speedY = 0;

            document.onmousemove = function (ev) {
                var oEvent = ev || event;

                y = startY + (oEvent.clientX - mouseStartX) / 10;
                x = startX - (oEvent.clientY - mouseStartY) / 10;

                speedX = (oEvent.clientX - lastX) / 5;
                speedY = (oEvent.clientY - lastY) / 5;

                fixAll();

                lastX = oEvent.clientX;
                lastY = oEvent.clientY;
            };

            document.onmouseup = function () {
                document.onmousemove = null;
                document.onmouseup = null;

                startMove();
            };

            stopMove();

            return false;
        };

        var timer = null;

        function startMove() {
            clearInterval(timer);
            timer = setInterval(function () {
                x -= speedY;
                y += speedX;

                speedY *= 0.93;
                speedX *= 0.93;

                if (Math.abs(speedX) < 0.1 && Math.abs(speedY) < 0.1)
                    stopMove();

                fixAll();
            }, 10);
        }

        function stopMove() {
            clearInterval(timer);
        }

        function fixAll() {
//            oDiv.style.WebkitTransform = 'perspective(1000px) rotateX(' + x + 'deg) rotateY(' + y + 'deg)';
//            oDiv.style.MozTransform = 'perspective(1000px) rotateX(' + x + 'deg) rotateY(' + y + 'deg)';
//            oDiv.style.msTransform = 'perspective(1000px) rotateX(' + x + 'deg) rotateY(' + y + 'deg)';
//            oDiv.style.OTransform = 'perspective(1000px) rotateX(' + x + 'deg) rotateY(' + y + 'deg)';
            oDiv.style.transform = 'perspective(1000px) rotateX(0deg) rotateY(' + y + 'deg)';

            for (var i = 0; i < aDiv.length; i++) {
                var deg = aDiv[i].degY + y;
                var a = (deg % 360 + 360) % 360;

                a = Math.abs(180 - a);

                var d = 0.1 + (a / 180) * 0.9;

                if (d < 0.2) d = 0.2;

                aDiv[i].style.opacity = d;

                //aDiv[i].innerHTML=parseInt(a);
            }
        }

        // todo
        var timer2 = null;

        setTimeout(play, delay);

        function play() {
            clearInterval(timer2);
            timer2 = setInterval(function () {
                y -= speedX2;
                l -= speedX2;

                speedX2 *= 0.93;

                if (Math.abs(speedX2) < 0.1 || l < 0.1) {
                    clearInterval(timer2);
                    speedX2 = 5;
                    y -= l;
                    l = 360 / M;
                    setTimeout(play, delay)
                }
                fixAll();
            }, 30);
        }

    };
</script>
<script>

    // dom ready
    var scrollList = document.querySelectorAll('.panel-list-scroll');

    for (var i = 0, l = scrollList.length; i < l; i++) {
        scroll(scrollList[i]);
    }

    // todo 重写
    function scroll(selector, upOrDown) {
        var oUl = selector;
        var timer = null;
        var speed = upOrDown || -1;
        oUl.innerHTML += oUl.innerHTML;
        setTimeout(move, 1500); // 先看两眼再滚动
        oUl.onmouseover = function () {
            clearInterval(timer);
        };
        oUl.onmouseout = function () {
            move();
        };
        function move() {
            timer = setInterval(function () {
                oUl.style.top = oUl.offsetTop + speed + 'px';
                if (oUl.offsetTop <= -oUl.offsetHeight / 2) {
                    oUl.style.top = '0';
                } else if (oUl.offsetTop >= 0) {
                    oUl.style.top = -oUl.offsetHeight / 2 + 'px';
                }
            }, 30);
        }
    }
</script>
<script>
    var barPolarStack = echarts.init(document.getElementById('barPolarStack'));
    var barPolarStack2 = echarts.init(document.getElementById('barPolarStack2'));
    var barPolarStackOption = {
        angleAxis: {
        },
        radiusAxis: {
            type: 'category',
            data: ['周一', '周二', '周三', '周四'],
            z: 10
        },
        polar: {
        },
        series: [{
            type: 'bar',
            data: [1, 2, 3, 4],
            coordinateSystem: 'polar',
            name: 'A',
            stack: 'a'
        }, {
            type: 'bar',
            data: [2, 4, 6, 8],
            coordinateSystem: 'polar',
            name: 'B',
            stack: 'a'
        }, {
            type: 'bar',
            data: [1, 2, 3, 4],
            coordinateSystem: 'polar',
            name: 'C',
            stack: 'a'
        }],
        legend: {
            show: true,
            data: ['A', 'B', 'C']
        }
    };
    barPolarStack.setOption(barPolarStackOption);
    barPolarStack2.setOption(barPolarStackOption);

    var doughnut = echarts.init(document.getElementById('doughnut'));
    var doughnutOption = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
        },
        series: [
            {
                name:'访问来源',
                type:'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value:335, name:'直接访问'},
                    {value:310, name:'邮件营销'},
                    {value:234, name:'联盟广告'},
                    {value:135, name:'视频广告'},
                    {value:1548, name:'搜索引擎'}
                ]
            }
        ]
    };
    doughnut.setOption(doughnutOption);
</script>
</body>
</html>